/* @import url(reset.css); */

body{
  font-size: 16 px;
  font-family : Arial, Verdana, sans-serif;
}

h1 {color: red;
background-color : black; font-size: 40px;}
h2 {color: green;
background-color: yellow;
}
.deTravers{font-style: italic; }
.barre {text-decoration : line-through;

}
p {color: blue;
  font-size: 20px;
}
p#un {background-color: brown;
}
p#deux {background-color: green;
  font-size: 30px;
  text-decoration: none;
}
p#trois {background-color: orange;
}
p#quatre {background-color: purple;
}
ul {list-style: disc;
}
li {color: red;
}
ul li ul li {color: blue;
}
